<br/>
<br/>
<br/>
<br/>
<div class="update-order-status-container">
    <h2>Update Order Status</h2>
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="orderId">Order ID:</label>
            <input id="orderId" formControlName="orderId" type="number" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="orderDate">Order Date:</label>
            <input id="orderDate" formControlName="orderDate" type="date" class="form-control"/>
        </div>

        <div class="form-group">
            <label for="total">Total:</label>
            <input id="total" formControlName="total" type="number" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="orderForm.invalid">Update</button>
    </form>
</div>
<br/>
<br/>
<br/>
<br/>
