<div class="change-password-container">
    <div class="main centered">
        <h1>Change Password</h1>
    </div>

    <div class="form-container centered">
        <table>
            <tr>
                <td class="label">Old Password</td>
                <td><input type="password" [(ngModel)]="oldPassword" placeholder="Enter your old password"/></td>
            </tr>
            <tr>
                <td class="label">New Password</td>
                <td><input type="password" [(ngModel)]="newPassword" placeholder="Enter your new password"/></td>
            </tr>
            <tr>
                <td class="label">Confirm Password</td>
                <td><input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm your new password"/></td>
            </tr>
        </table>
        <div class="information">
            <p>Password must be at least 8 characters, contain 1 uppercase letter, and 1 digit.</p>
        </div>
    </div>

    <div class="centered">
        <button (click)="changePassword()" class="change-password-button">Change Password</button>
    </div>
</div>
