<br/>
<br/>
<br/>
<br/>
<div *ngIf="pastDeliveries.length > 0" class="centered">
    <table class="tbl">
        <tr>
            <th>DELIVERY ID</th>
            <th>TIME</th>
            <th>ADDRESS</th>
            <th>STATUS</th>
        </tr>
        <tr *ngFor="let delivery of pastDeliveries">
            <td>{{ delivery?.id }}</td>
            <td>{{ delivery?.deliveryTime }}</td>
            <td>{{ delivery?.street }}, {{ delivery?.city }}, {{ delivery?.state }} {{ delivery?.postalCode }}</td>
            <td>{{ delivery?.status }}</td>
        </tr>
    </table>
</div>
<br/>
<br/>
<br/>
<br/>
